<app-header (toggleSidenav)="sidenavToggler($event)"></app-header>

<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sidenavToggle">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
