<div class="toolbar sticky-top">
  <ul>
    <li>
      <mat-form-field>
        <mat-select [(ngModel)]="selected">
          <mat-option *ngFor="let component of dashboardService.getAvailableComponents()" (click)="addItem(component.component);" [value]="component.id">{{component.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </li>
  </ul>
</div>
<mat-divider></mat-divider>

<gridster [options]="dashboardService.options" class="bg-dark">
  <gridster-item
    *ngFor="let item of dashboardService.dashboard"
    [item]="item">
    <app-pages [component]="dynamicComponent"></app-pages>
    <mat-icon (click)="removeItem($event, item)">
      delete
    </mat-icon>
  </gridster-item>
</gridster>
