:host {
  .toolbar {
    height: 60px;
    display: flex;
  }

  gridster {
    display: flex;
    flex-direction: column;
  }

  ul li {
    list-style: none;
    display: inline-block;
  }

  mat-select {
    width: 150px;
  }

}
