:host {

  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }
}

.profile-card {
  text-align: center;
  padding: 0 20px;

  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
}






