<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>R&D Project</h2>
      <h4>Environmental Data Gathering</h4>
    </div>
    <img src="https://www.mein-deal.com/wp-content/uploads/youtube/syq9-y30BwQ.w600.jpg" alt="drone">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>pie_chart</mat-icon> Dashboard
  </a>

  <mat-divider></mat-divider>

</mat-nav-list>
